.card-container {
    width: 300px;
    border: 0.5px solid gray;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Duru Sans', sans-serif;
    background-color: white;

  }
  
  .desc {
    height: 150px;
    padding: 10px;
    
  }
  .buy-titles{
    font-weight: bold;
  }

  .modal-btn{
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #4eb57b;
    background-color: white;
  }
  .modal-btn:hover{
    font-weight: bold;
    transition: 0.5s;
    font-size: large;
  }
  .cardpic{
    height: 500px;
  }
 
  